@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #0a0a23;
    background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#text {

    background-color: white;
    color: #0a0a23;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

#game {
    /* max-width: 500px;
    max-height: 400px; */
    background-color: #ffffff;
    color: #ffffff;
    /* margin: 30px auto 0px; */
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


#controls,
#stats {
    border: 2px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#monsterStats {
    display: none;
    border: 2px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    font-weight: 500;
    font-size: 16px;
}